<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar-se</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/telacadastro.css">
</head>
<body>
    <div id="container">
        <h2>Ola, faça seu cadastro</h2>
        <form action="" id="cadastro1">
            <div id="inputs">
                <div>
                <input type="text" id="nome" placeholder="Nome">
            </div>
            <div>
                <input type="text" id="email" placeholder="Email">
            </div>
            <div>
                <input type="password" id="senha" placeholder="Senha">
            </div> 
            <div id="botoes">
                <input type="submit" onclick="cadastrar()">
                <a href="../../telaLogin.html"><button>Cadastrar</button></a>
            </div>
        </form>
    </div>
</body>
</html>