<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic</title>
    <link rel="stylesheet" href="./css/telalogin.css">

</head>
<link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">

<body>
    <div class="container">
        <h2>Bem-Vindo!</h2>
        <br>
        <p>Faça login para continuar</p>
        <br>
        <form action="" id="loginInfo">
        <div id="inputs">
           
            <div>
                <input type="text" id="email" placeholder="Email">
            </div>
            <div>
                <input type="password" id="senha" placeholder="Senha">
            </div>
            <div class="remember-forgot">
                <div id="esqueciSenha">
                <a href="#">Esqueceu a senha?</a>
            </div>
            </div>
    
        </div>
        <div id="botoes">
            <input type="submit" id="submit" value="login">
           
            <a href="./telaCadastro.html"><button>Cadastrar</button></a>
        </div>
    </form>

    </div>

    <div id="imgFloor">
        <img src="./img/floor.png" alt="" id="sonicFloor">
    </div>

    <div id="imgSonic">
        <img src="./img/sonic.gif" alt="sonic" id="sonic">
    </div>

    <div id="imgMoeda">
        <img src="./img/moedaSonic.webp" alt="" id="moedaSonic">
    </div>

    <div id="imgRobotnik">
        <img src="./img/Robotnik.gif" alt="robotnikGif" id="robotnik">
      </div>

    <script src="./js/logar.js"></script>
</body>

</html>