<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar-se</title>
    <link rel="stylesheet" href="./css/telacadastro.css" />
  </head>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&display=swap"
    rel="stylesheet"
  />

  <body>
    <div class="container">
      <h2>Cadastre-se agora!</h2>
      <form action="" id="cadastro1">
        <div id="inputs">
          <div>
            <input type="text" id="nome" placeholder="Nome" />
          </div>
          <div>
            <input type="email" id="email" placeholder="Email" />
          </div>
          <div>
            <input type="password" id="senha" placeholder="Senha" />
          </div>
          <div id="enviar">
            <input type="submit" value="cadastrar-se" id="CadastroBtn" />
            <a href="../../telaLogin.html"></a>
          </div>
        </div>
      </form>
      <div id="facaLogin">
        <p>Já possui uma conta?</p>
        <a href="./telaLogin.html">Faça Login!</a>
      </div>

      <div id="imgFloor">
        <img src="./img/floor.png" alt="" id="sonicFloor" />
      </div>

      <div id="imgSonic">
        <img src="./img/sonic.gif" alt="sonic" id="sonic" />
      </div>

      <div id="imgMoeda">
        <img src="./img/moedaSonic.webp" alt="" id="moedaSonic" />
      </div>

      <div id="imgRobotnik">
        <img src="./img/Robotnik.gif" alt="robotnikGif" id="robotnik">
      </div>
    </div>
    <script src="./js/cadastrar.js" defer></script>
  </body>
</html>
